ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    padding: 0;
    margin: 0; }

body {
  padding: 0;
  margin: 0; }

.card {
  position: absolute;
  width: 80px;
  height: 120px;
  color: white;
  border: 4px solid black;
  border-radius: 15px; }
  .card.monster {
    background-color: red; }
  .card.spell {
    background-color: blue; }
  .card.opponent {
    background-color: black;
    top: 500px;
    left: 500px; }
  .card.action {
    border-color: yellow; }
  .card.target {
    border-color: red; }

#board {
  position: absolute;
  width: 900px;
  height: 600px;
  margin-left: 200px;
  background-color: green; }

.play {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  bottom: 0;
  right: 0; }

.login {
  position: absolute;
  top: 50px;
  left: 10px; }

#hand {
  position: absolute;
  top: 700px;
  width: 100%; }

.player {
  position: absolute;
  top: 200px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: solid 8px black; }

#self {
  left: 20px;
  background-color: salmon; }
  #self.active {
    border-color: #ccffff; }

#opponent {
  left: 1160px;
  background-color: purple; }
  #opponent.active {
    border-color: #ff0033; }
