ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    padding: 0;
    margin: 0; }

body {
  padding: 0;
  margin: 0; }

.card {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: red; }

#board {
  position: absolute;
  width: 900px;
  height: 600px;
  background-color: green; }

.play {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  bottom: 0;
  right: 0; }

.login {
  position: absolute;
  top: 50px;
  left: 10px; }

#hand {
  position: absolute;
  top: 700px;
  width: 100%; }
