$boardWidth: 900px
$boardHeight: 600px

$padding: 10px

ul
  padding: 0
  margin: 0
  li
    list-style: none
    padding: 0
    margin: 0

body
  padding: 0
  margin: 0
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.yougotfucked
  -webkit-animation-duration: 10s !important
  font-size: 30px
  font-weight: bold
  color: red

.card
  position: absolute
  width: 80px
  height: 120px
  color: white
  border: 4px solid black
  border-radius: 15px

  &.monster
    background-color: red
  &.spell
    background-color: blue

  &.opponent
    background-color: black
    top: 500px
    left: 500px

  &.action
    border-color: yellow

  &.target
    border-color: red

#board
  position: absolute
  width: $boardWidth
  height: $boardHeight

  margin-left: 200px

  background-color: green

.play
  width: 100px
  height: 100px
  background-color: blue
  position: absolute
  bottom: 0
  right: 0

.login
  position: absolute
  top: 50px
  left: $padding

#hand
  position: absolute

  top: $boardHeight + 100px
  width: 100%

.player
  position: absolute
  top: $boardHeight/2 - 100px
  border-radius: 50%
  width: 100px
  height: 100px

  border: solid 8px black

#self
  left: 20px
  background-color: salmon

  &.active
    border-color: #CCFFFF

#opponent
  left: $boardWidth + 200px + 60px
  background-color: purple

  &.active
    border-color: #FF0033

.lifeTotal
  position: relative
  top: 120px



